


#Folder

.vs/
bin/
x64/
ipch/
[Dd]ebug
[Rr]elease

enc_temp_folder/

[Ll]ibrary
[Pp]rojectSettings
[Tt]emp
[Tt]est

[Ll]og/
[Ss]ave/
[Oo]ld/
[Oo]ld_version/

# ============ #
#Unity Folder
Temp/
Obj/
UnityGenerated/
Library/
ExportedObj/
*.svd
*.aps
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
GraphicsSettings.asset
ProjectSettings.asset
ProjectVersion.txt
Thumbs.db
# ============ #



#File

#*.exe
*.bak
*.db
*.ilk
*.pdb
*.iobj
*.ipdb
*.map
*.opendb
*.suo
*.sdf
*.~ml
*.dmp
*.swp
*.lnk
.git.zip
*.apk
~$*

/**/bin/**/*.exe
